---
import DocSearch from "./docsearch";
import { Locale } from "../../lib/i18n";
import { algolia } from "../../lib/algolia";

interface Props {
  placeHolder?: string;
  fullWidth?: boolean;
  slim?: boolean;
  locale?: Locale;
}

const {
  placeHolder = "Search",
  fullWidth = false,
  slim = false,
  locale = Locale.English,
} = Astro.props;
---

<DocSearch
  client:only="react"
  placeHolder={placeHolder}
  fullWidth={fullWidth}
  slim={slim}
  locale={locale}
  {...algolia}
>
  <div
    slot="fallback"
    class={`docsearch-wrapper${fullWidth ? " full-width w-full" : ""}${slim ? " slim" : ""}`}
  >
    <button type="button" class="DocSearch DocSearch-Button">
      <span class="DocSearch-Button-Container"></span>
    </button>
  </div>
</DocSearch>
