---
import type { DocAlert } from '../../lib/docs-alerts';

interface Props extends DocAlert {}

const { title, type, message } = Astro.props;

const typeClasses = {
  info: 'text-blue-700 border-blue-300 bg-blue-100 dark:bg-blue-200 dark:border-transparent dark:text-blue-800',
  success: 'text-green-700 border-green-300 bg-green-100 dark:bg-green-200 dark:border-transparent dark:text-green-800',
  warning: 'text-yellow-700 border-yellow-300 bg-yellow-100 dark:bg-yellow-200 dark:border-transparent dark:text-yellow-800',
  error: 'text-red-700 border-red-300 bg-red-100 dark:bg-red-200 dark:border-transparent dark:text-red-800',
};
---

<div class={`docs-alert p-4 mb-4 lg:text-lg rounded-lg border-2 ${typeClasses[type]}`}>
  <span class="font-medium">{title}:</span>{' '}
  <span set:html={message} />
</div>


