---
import { getDocAlerts } from "@lib/constants/docs-alerts";

import DocsAlert from "./docs-alert.astro";

import "@styles/docs-container.scss";

interface Props {
  html: string;
  file: string;
  version: string;
}

const { html, file, version } = Astro.props;
const alerts = getDocAlerts(file, version);
---

<div class="w-0 flex-1 bg-white dark:bg-dark-gray-900">
  <div class="mx-auto p-4 lg:max-w-9/10 lg:px-0">
    {alerts.map((alert) => <DocsAlert {...alert} />)}
    <div
      class="docs-content text-gray-900 dark:text-gray-200"
      set:html={html}
    />
  </div>
</div>
