---
import { getDocAlerts } from '../../lib/docs-alerts';
import DocsAlert from './docs-alert.astro';

interface Props {
  html: string;
  file: string;
  version: string;
}

const { html, file, version } = Astro.props;
const alerts = getDocAlerts(file, version);
---

<div class="flex-1 w-0 bg-white dark:bg-dark-gray-900">
  <div class="pt-4 pr-5 pl-5 pb-5 lg:max-w-9/10 mx-auto">
    {alerts.map((alert) => (
      <DocsAlert {...alert} />
    ))}
    <div class="docs-content text-gray-900 dark:text-gray-200" set:html={html} />
  </div>
</div>


