---
import DocSearch from "@components/docsearch/docsearch.astro";
import SidebarToggle from "@components/docs/sidebar-toggle";
import { Locale } from "@lib/i18n";
---

<header
  class="navbar flex items-center justify-between mx-auto sticky w-full top-0 left-0 h-12 px-4 lg:pr-2 bg-gray-50 dark:bg-dark-gray-975 border-b border-gray-200 dark:border-dark-gray-800 text-gray-900 dark:text-gray-200 z-50"
>
  <div class="flex items-center">
    <SidebarToggle client:load transition:persist="sidebar-toggle" />
    <h1 class="mr-3 text-2xl">
      <a
        href="/"
        class="font-normal text-black dark:text-white dark:hover:text-white"
      >
        bedrock.dev
      </a>
    </h1>
    <ul class="hidden md:flex">
      <li class="h-full">
        <a
          class="font-medium px-2 text-gray-500 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100 transition duration-150 ease-in-out"
          href="https://wiki.bedrock.dev"
          target="_blank"
          rel="noopener"
        >
          Wiki
        </a>
      </li>
    </ul>
  </div>
  <DocSearch slim={true} locale={Locale.English} />
</header>
