---
import { S3Client, ListObjectsV2Command } from "@aws-sdk/client-s3";
import Layout from '@layouts/layout.astro';
import Navbar from '../components/homepage/navbar.astro';
import Footer from '../components/footer.astro';
import PackCard from '../components/packs/pack-card';

import { getTags, Tags } from '../lib/tags';
import { Locale, t } from '../lib/i18n';
import { compareBedrockVersions } from '../lib/util';
import { listReleases } from '../lib/github/api';


export type PackVersions = {
  [key: string]: Partial<{ b: boolean; r: boolean; t?: Tags; git: string }>;
};

const VERSION = /(\d+\.\d+\.\d+\.\d+)/;

const tags = await getTags(Locale.English);
const stableTag = tags[Tags.Stable]?.at(-1) ?? "";
const betaTag = tags[Tags.Beta]?.at(-1) ?? "";

const versions: PackVersions = {};
let paths: string[] = [];

// Fetch from S3 if credentials are available
if (
  import.meta.env.AWS_ACCESS_KEY_ID_BEDROCK &&
  import.meta.env.AWS_SECRET_ACCESS_KEY_BEDROCK &&
  import.meta.env.AWS_BUCKET_NAME_BEDROCK
) {
  const s3 = new S3Client({
    region: "us-east-1",
    credentials: {
      accessKeyId: import.meta.env.AWS_ACCESS_KEY_ID_BEDROCK,
      secretAccessKey: import.meta.env.AWS_SECRET_ACCESS_KEY_BEDROCK,
    },
  });

  try {
    const command = new ListObjectsV2Command({
      Bucket: import.meta.env.AWS_BUCKET_NAME_BEDROCK || "",
    });
    const objects = await s3.send(command);
    if (objects.Contents) {
      paths = objects.Contents.filter(
        (c) => c.Key && c.Key?.endsWith(".zip"),
      ).map((c) => c.Key!);
    }
  } catch (error) {
    console.error("Could not list items from bucket!", error);
  }

  for (const path of paths) {
    const [folder, name] = path.split("/");
    if (folder && name) {
      const version = name.replace(".zip", "");
      if (!versions[version]) versions[version] = { b: false, r: false };
      if (folder === "behaviours") versions[version].b = true;
      if (folder === "resources") versions[version].r = true;
    }
  }
}

// Get the releases from the bedrock-samples repo
const mojangBedrockSamples = await listReleases("Mojang/bedrock-samples");
for (const release of mojangBedrockSamples) {
  const version = release.tag_name.match(VERSION)?.[0];
  if (version && !versions[version])
    versions[version] = { git: release.html_url };
}

// Add the tags to the versions
if (versions[stableTag]) versions[stableTag].t = Tags.Stable;
if (versions[betaTag]) versions[betaTag].t = Tags.Beta;

const versionsSorted = Object.keys(versions).sort(compareBedrockVersions);
---

<Layout 
  title={`${t('page.packs.website_title')} | bedrock.dev`}
  description={t('page.packs.website_description')}
>
  <div class="h-screen">
    <Navbar />

    <div class="max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 mt-8 mb-10">
      <div class="max-w-screen-lg mx-auto space-y-4">
        <h4 class="text-4xl font-bold text-black dark:text-gray-200">
          {t('page.packs.title')}
        </h4>
        <p class="text-lg text-black dark:text-gray-200">
          This is an archive of the default template packs provided by Mojang. The latest packs are available in Mojang's{" "}
          <a
            class="link"
            href="https://github.com/Mojang/bedrock-samples?ref=bedrock.dev"
            target="_blank"
            rel="noopener"
          >
            bedrock-samples
          </a>{" "}
          GitHub repository. Older ones can be found in the{" "}
          <a
            class="link"
            href="https://github.com/bedrock-dot-dev/packs"
            target="_blank"
            rel="noopener"
          >
            bedrock-dot-dev/packs
          </a>{" "}
          repository.
        </p>

        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 font-normal">
          {versionsSorted.map((v) => (
            <PackCard
              client:idle
              versionName={v}
              versionData={versions[v]}
            />
          ))}
        </div>
      </div>
    </div>

    <div class="mt-10">
      <Footer dark={true} />
    </div>
  </div>
</Layout>

