---
import { ClientRouter } from "astro:transitions";

import NProgress from "astro-nprogress/component";

import Head from "../components/head.astro";
import { getOgImageUrl } from "../lib/og-image";

import "../styles/tailwind.css";
import "../styles/fonts.scss";
import "../styles/app.scss";

interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
}

const {
  title = "bedrock.dev",
  description = "",
  ogImage = getOgImageUrl(),
} = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <Head title={title} description={description} />
    <meta property="og:image" content={ogImage} />
    <slot name="head" />
    <ClientRouter />
  </head>
  <body>
    <slot />
    <NProgress />
  </body>
</html>

<script>
  import "../lib/i18n";
</script>
