---
import { ClientRouter } from 'astro:transitions';

import Head from '../components/head.astro';

import '../../styles/tailwind.scss';
import '../../styles/fonts.scss';
import '../../styles/app.scss';

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "bedrock.dev",
  description = ""
} = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <Head title={title} description={description} />
    <slot name="head" />
    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>

<script>
  import '../lib/i18n';
</script>

