@import '~prismjs/themes/prism.css';
@import '~nprogress/nprogress.css';

@import './tailwind.scss';

:root {
  --navbar-bg: #fff;
  --navbar-fg: #000;
  --navbar-border: #cbd5e0;

  --navlink-fg: #4a5568;
  --navlink-hover-fg: #2d3748;
  --navlink-hover-bg: #e2e8f0;

  --sidebar-bg: #fff;
  --sidebar-width: 400px;
  --sidebar-text-fg: #6b6867;
  --sidebar-title-color: #000000;
  --sidebar-mask-color: rgba(0, 0, 0, 0.3);
}

body {
  -webkit-font-smoothing: antialiased;
}

hr {
  border-width: 1px;
}

h1, h2, h3, h4 {
  text-transform: none;
  @apply font-bold;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-lg;
}

.index-container {
  @apply px-5;
  @apply py-5;

  height: 75vh;
}

/* main */
@import 'listing.scss';

/* navbar */
@import './navbar.scss';

/* sidebar */
@import './sidebar.scss';

/* docs container */
@import './docs-container.scss';

/* scrollbars */

body ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}

body ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

body ::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

body ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.15);
}

body ::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
