@import './tailwind.scss';

@import '~nprogress/nprogress.css';

:root {
  --sidebar-breakpoint: 1024px;
  --sidebar-width: 400px;
  --sidebar-mask-color: rgba(0, 0, 0, 0.3);
}

body {
  -webkit-font-smoothing: antialiased;
}

hr {
  border-width: 1px;
}

h1, h2, h3, h4 {
  text-transform: none;
  @apply font-bold;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-lg;
}

.link {
  @apply text-blue-600;
  @apply transition;
  @apply duration-75;
  @apply ease-in-out;
}

.link:hover {
  @apply text-blue-500;
}

.bottom-safe-area-inset {
  @supports (padding: max(0px)) {
    padding-bottom: max(0.75rem, env(safe-area-inset-bottom));
  }
}

.version-files-container {
  max-height: 288px;
  max-width: 544px;
}

/* header */
.no-double-tap-zoom {
  touch-action: manipulation;
}

/* navbar */
.navbar {
  z-index: 10;
}

/* sidebar */
@import './sidebar.scss';

/* docs container */
@import './docs-container.scss';

/* scrollbars */

body ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}

body ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

body ::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

body ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.15);
}

body ::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
