@screen md-max {
  .algolia-autocomplete {
    position: static !important;
    width: 100% !important;

    .ds-dropdown-menu {
      width: 100%;
      min-width: 300px;
      max-width: calc(100vw - 20px);
    }
  }
}
