.sidebar-container {
  @apply flex;

  .sidebar {
    width: var(--sidebar-width);
    position: fixed;
    top: 3rem;
    z-index: 9;
    height: calc(100vh - 3rem);
    background-color: var(--sidebar-bg);
    color: var(--sidebar-text-fg);
    transform: translateX(-100%);

    @apply flex;
    @apply flex-col;
    @apply border-r;
    @apply border-gray-200;

    &.open {
      transform: translateX(0);
    }

    @media (max-width: 768px) {
      width: 80%;
      transition: transform ease-in-out 150ms;
    }
  }

  @media (max-width: 768px) {
    &:not(.loaded) {
      display: none;
    }
  }
}

.sidebar-expand {
  user-select: none;
  margin-left: auto;
  width: 11px;
  cursor: pointer;
  display: flex;
  align-items: center;

  & > svg {
    transition: transform 0.15s ease;
  }

  &:not(.open) > svg {
    transform: rotate(180deg);
  }

  &.open > svg {
    transform: rotate(90deg);
  }
}

.sidebar-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 8;
}

@media (max-width: 768px) {
  .sidebar-mask {
    background-color: var(--sidebar-mask-color) !important;
  }
}
